apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: BACKEND_IMAGE
        ports:
        - containerPort: 5000
        env:
        - name: NODE_ENV
          value: production
        - name: PORT
          value: "5000"
        - name: MONGO_URI
          value: mongodb://mongodb:27017/mern-ecommerce
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: jwt-secret
        - name: RAZORPAY_KEY_ID
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: razorpay-key-id
        - name: RAZORPAY_KEY_SECRET
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: razorpay-key-secret
        - name: EMAIL_HOST
          value: smtp-relay.brevo.com
        - name: EMAIL_PORT
          value: "587"
        - name: EMAIL_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: email-user
        - name: EMAIL_PASS
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: email-pass
        - name: EMAIL_FROM
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: email-from
        - name: PAGINATION_MAX_LIMIT
          value: "12"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000